*{
    margin: 0px;
}
.container{
    display: flex;
    height: 35px;
    background-color: rgba(3, 3, 48, 0.97);
    justify-content: space-between;
    padding: 15px;
}
.amalogo{
    height: 40px;
    width: 150px;
    margin-left: 40px;
}
.location{
    display: flex;
}
.loclogo{
    height: 30px;
    width: 30px;
    margin-top: 5px;
}
.searchbox{
    display: flex;
    height: 40px;
    background-color: white;

}
button:hover{
    cursor: pointer;
}
.bigdbox{
    display: flex;
    justify-content: space-evenly;
    padding: 200px 10px;
}
.smalldbox{
    display: flex;
    flex-direction: column;
    height: 450px;
    width: 300px;
    border: 2px solid;
    background-color: rgb(168, 168, 168);
    text-align: center;
    font-weight: bold;
    padding: 10px;
    justify-content: space-evenly;
}
.photo{
    height: 170px;
    width: 140px;
}
.innerbox{
    display: flex;
    justify-content: space-evenly;
}
.innersbox{
    display: flex;
    height: 50px;
    justify-content: space-evenly;
}